*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    width:100vw;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
}
#home{
    height:100%;
    width: 100%;
    padding:2% 7.5%;
    background: rgb(40,44,49);
    background: linear-gradient(0deg, rgba(40,44,49,1) 14%, rgba(0,6,7,1) 85%);
    position:relative;
}
#navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navlogo{
    display:flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    height:5rem;
    border-radius: 3rem;
}
.logo_text{
    margin-left:-0.5rem;
    font-size: 1.3rem;
}
.dropbtn{
    opacity:0;
}
.navitems{
    display:flex;
    gap:2.5rem;
}
.navlink{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;    
    transition:all 0.4s;
}
.navlink:hover{
    font-size: 1.5rem;
    color: bisque;
}
.btn{
    height:2.1rem;
    width:6rem;
    font-size: 1rem;
    font-weight: 500;
    background-color:#e84949;
    box-shadow: -1.5px 1.5px 4px 0px #434242;
    color: white;
    z-index:1;
    cursor: pointer;
    position: relative;
}
.btn::before{
    content:"";
    background-color: #180f0f;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:scaleX(0);
    transition: all 0.8s;
    transform-origin: left;
    z-index: -1;
}
.btn:hover::before{
    transform:scaleX(1);
}
 #about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items : center;
    height:85%;
}
.left-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
}
.about-heading{
    color:rgb(191, 189, 216);
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}
.role{
    color: hsla(333, 100%,45%, 1);
    font-size: 2.6rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.about-description{
    color:rgb(241, 241, 244);
    font-family: 'Permanent Marker', cursive;
    font-weight: 1;
    width:70%;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    
}
.right-about{
    position:relative;
}

.myprofileimage img{  
    width:80%;
    left:0;
    margin:0 10%;
    border: 4px solid rgb(202, 216, 219);
    border-radius: 1rem;
    box-shadow: 6px 4px 10px 0px rgba(133, 132, 132, 0.75);
    transition: all 1s;
    animation: scaleimage 6s linear infinite ;
    z-index:0;
} 
@keyframes scaleimage{
    0%{
        transform:  translateY(-0.5rem) scale(1.0);
    }
    50%{
        transform:  translateY(0.7rem) scale(1.015);
    }
    100%{
       transform:  translateY(-0.5rem) scale(1.0);
    }
}
.stars_img img{
    position:absolute;
    width:14%;  
    bottom:0;
    right:0;
    margin-right: 5%;
    z-index: 1;
    transition: all 1s;
    animation: starimg 8s linear infinite;
} 

@keyframes starimg{
    0%{
        
        transform: rotateY(0deg)  scale(0.7);
 
    }
    25%{
        transform: rotateY(180deg)  scale(1.1);
    }
    50%{
        transform:rotateY(360deg)   scale(1.3);
    }
    100%{
        transform: rotateY(0deg)  scale(0.7);
    }
}
.wave-shape-home {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-shape-home svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 124px;
}

.wave-shape-home .shape-fill {
    fill: rgb(18, 22, 28);
}
#projects{
    width: 100%;
    background-color: rgb(18, 22, 28)  ;
    padding: 2.5% 7.5%; 
    position: relative;
}
.header-project{
    color:hsla(333, 100%,45%, 1);
    font-size: 4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
}
.project-container{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.project-card{
    display:flex;
    flex-direction: column;
    margin:2rem 0 3rem 0;
    gap:1rem;
    width:70%;
    height:30%;
    border: 2px solid white;
    position: relative;
    z-index:1;
    border-radius: 1rem;
}
.project-card::before{
    content:"";
    background: linear-gradient(rgba(0, 1, 3, 0.5),rgba(0, 0, 14, 0.5));
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform:scaleX(0);
    transition: all 0.8s;
    transform-origin: left;
    z-index: -1;
}
.project-card:hover::before{
    transform:scaleX(1);
}

.project-no{
    font-size: 4.5rem;
    font-weight: 600;
    transition: all 0.8s;
}
.project-no:hover{
    transform: scale(1.1);
}
.project-content{
    color: #ffffff;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
}
.project-content:hover{
    transform: scale(1.02);
}
.project-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: baseline;

}
.project-skills img{
    height:10%;
    width:10%;
    object-fit: cover;
    
}
.project-heading{
    font-size: 2.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.project-subheading{
    font-weight: 600;
} 

#project1{
    background-image: url(./images/tindog2img.png);
    background-size: 100%;
}
#project2{
    background-image: url(./images/indianzaykaimg.jpg);
    background-size: 100%;
    margin-left: 30%;
}
#project3{
    background-image: url(./images/blackjackimg.png);
    background-size: 100%;
    margin-bottom: 10%;
}

.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
i{
    font-size: 3rem;
    color: rgb(246, 209, 214);
}
.project-skills-separator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.project-skills-separator svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 127px;
}

.project-skills-separator .shape-fill {
    fill: rgb(22, 31, 43);
}
#skill{
    background-color: rgb(22, 31, 43);;
    padding:2.5% 7.5%;
    position: relative;

}
.skillheading{
    color:hsla(333, 100%,45%, 1);
    font-size: 4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;

}
.skill-card{
    margin:5% 5%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    justify-content: space-between;
}
.skill-text{
    height:90%;
    width: 50%;
    margin:3rem;
    font-size: 1.1rem;
    transition: all 0.8s;
}

.skill-text:hover{
    transform:scale(1.05);
}
#resume h2{
    color:hsla(333, 100%,45%, 1);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
#resume p a{
    text-decoration: none;
    color:aqua;
}
.skill-images{
    display: flex;
    flex-wrap: wrap;
    gap:1.2rem;
    height:90%;
    width: 50%;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    margin:3rem;
    transition: all 0.8s;
}
.skill-images:hover{
    transform:scale(1.05);
}
.skill-images img{
    height:20%;
    width:25%;
    object-fit: cover;
}
.custom-shape-divider-bottom-1692534094 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692534094 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1692534094 .shape-fill {
    fill: #537484;
}
#contact{
    width: 100%;
    background-color: #537484;

}
.contact-container{
    width:85%;
    margin:0 7.5%;

}
.contact-heading{
    color:rgb(248, 242, 245);
    font-size: 4rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 2rem;
}
.contact-subheading{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}
.contactus-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width:70%;
    display: flex;
    flex-direction: column;
    gap:1rem;  
    justify-content: center;
    align-items: center;
}

.form-field-container{
    width:90%;
    display: flex;
    flex-direction: column;
    gap:1rem;  
}
.form-field{
    background-color: #e1ebf1;  
    box-shadow: 3px 1px 10px 4px rgba(0,0,0,0.75);
    border-radius: 0.4rem;
    height:2rem;
    padding: 0.7rem 1rem;
    border: none;
}
.form-textarea{
    height:auto;
}
.submit-btn{
    display: flex;
    height:3rem;
    width:12rem;
    justify-content: center;
    align-items: center;
    gap:0.4rem;
    margin-bottom: 2rem;
}

button i{
    font-size: 1.6rem;
    color: #f5f5f5;
}
#footer{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.9529936974789917) 64%, rgba(44,73,88,1) 100%);
    width:100%;
    padding:1.5% 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerlogo{
    height:100%;
    width:100%;
    border-radius:45%;
}
#footer a{
    width:10%;
}
.copyright{
    font-size: 1.2rem;
    color:#f5f5f5;
}
.social-links{
    width: 10%;
    display: flex;
    gap: 2rem;
}
.footer-link{
    font-size: 2rem;
    color:#f5f5f5;
    transition: all 0.6s;
}
.footer-link:hover{
    transform: scale(1.2);
   
}
@media(max-width:800px){
    #home{
        height:auto;
    }
    #about{    
        display: flex;
        flex-direction: column;
        height:auto;
        margin-top: 2rem;

    }
    .left-about{
        align-items: center;

    }
    .about-heading{
        font-size: 1.3rem;
    }
    .myprofileimage img{  
        left:auto;
        margin:2rem 10%;
        z-index: 0;
        border-radius: 60%;

    } 

    .wave-shape-home{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .wave-shape-home svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 0px;
    }
    
    .wave-shape-home .shape-fill {
        fill: #FFFFFF;
    }

    .dropbtn {
        background-color: #131313;
        color: white;
        padding: 6px;
        font-size: 15px;
        border: none;
        cursor: pointer;
        opacity: 1;
      }
      
      .dropbtn:hover, .dropbtn:focus {
        background-color: #090909;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
        background-color: #180f0f;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #0b0b0b;
        min-width: 100px;
        overflow:none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: rgb(239, 237, 237);
        padding: 12px 5px;
        text-decoration: none;
        display: block;
      }
      
      .show {
        display: block;
    }

    .header-project{
        font-size: 4rem;
    }
    .project-container{
        gap:0.5rem;
    }
    .project-card{
        margin:1rem 0 1rem 0;
        gap:1rem;
        width:100%;
        height:30%;
    }
    .project-no{
        font-size: 4rem;
    }
    .project-no:hover{
        transform: scale(1);
    }
    .project-content:hover{
        transform: scale(1);
    }
    #project1{
        background-image: none;
        background-size: cover;
    }
    #project2{
        background-image: none;
        background-size: cover;
        margin: 0 auto;
    }
    #project3{
        background-image: none;
        background-size: cover;
        margin-bottom: 5%;
    }
    .project-skills-separator{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .project-skills-separator svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 0px;
    }
    
    .project-skills-separator .shape-fill {
        fill: #FFFFFF;
    }
    #skill{
        padding:1rem;

    }
    .skill-card{
        display: flex;
        flex-direction: column;
        margin:2% 2%;
    }
    .skill-text{
        width:100%;
        padding:6px;
        font-size: 1rem;
        transition: none;
        margin:2% 2%;
    }
    .skill-text:hover{
        transform:scale(1);
    }
    .skill-images{
        gap:1rem;
        height:50%;
        width: 96%;
        margin:5%;
        padding: 6px;
    }
    .skill-images:hover{
        transform:scale(1.02);
    }
    .custom-shape-divider-bottom-1692534094r{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-bottom-1692534094 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 0px;
    }
    
    .custom-shape-divider-bottom-1692534094 .shape-fill {
        fill: #FFFFFF;
    }

    #footer{
        flex-direction: column;
        gap:1rem;
    }
    #footer a{
        width:20%;
    }
    .copyright{
        font-size: 1rem;
    }
    .social-links{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .footer-link{
        font-size: 2rem;

    }
}
@media((min-width:801px) and (max-width:1000px)){
    .project-card{
        width:100%;
    }
    #project2{
        margin:0 auto;
    }
    .skill-card{
        margin:2.5% 2.5%; 
 
    }
    .skill-text{
        width: 48%;
        margin:2%;
        font-size: 1rem;
    }
    
    .skill-text:hover{
        transform:scale(1.02);
    }
    #footer{
        flex-direction: column;
        gap:1rem;
    }
    #footer a{
        width:15%;
    }
    .copyright{
        font-size: 1rem;
    }
    .social-links{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .footer-link{
        font-size: 2rem;

    }
}